div#mainplateswrap{
    display: none;
}
.container.croppermian {
    display: flex;
}
.hide-ng-overlay,.simple-lightbox,.sl-overlay{
    display: none !important;
    opacity: 0 !important;
}
div#choptoolmain {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: contents;
}
.m-one-header {
border-radius: 3px;
}
.mnav-item {
padding: 12px 16px 13px;
background-color: #EEEEEE;
border: 1px solid #999999;
}
.mnav-item a {
color: #284156;
}
.mnav-thumb {
padding: 0px 2px 0px 1px;
}
.cmstyle {
font-size: 10px;
color: #AAAAAA;
padding: 2px;
}
.mactive {
padding: 12px 16px 13px;
border: 1px solid #666666;
background-color: #ff7100;
}
.mactive a {
color: #FFFFFF;
}
* {
box-sizing: border-box;
}
.mvertical-align-middle {
width: 100%;
}
.mnav-item, mnav-thumb,
.mvertical-align-middle {
display: inline-block;
vertical-align: middle;
}
.matbox {
padding: 5px 3px 5px 3px;
margin: 3px 0px;
font-size: 12px;
border: 1px solid #999999;
width: 100%;
}
.matactive {
color: #FFFFFF;
background-color: #ff7100;
}
.mathide {
display: none;
}
.matleftarrow {
float: left;
position: absolute;
z-index: 3;
margin-left: -38px;
font-size: 2.2em;
background-color: #FFFFFF;
color: #284156;
border-radius: 10px;
padding: 0px 10px 0px 10px;
cursor: pointer;
}
.matrightarrow {
float: right;
position: absolute;
z-index: 3;
margin-left: 6px;
font-size: 2em;
background-color: #FFFFFF;
color: #284156;
border-radius: 10px;
padding: 0px 10px 0px 10px;
cursor: pointer;
}
.basketbutton {
padding: 5px 5px 5px 5px;
margin: 3px 0px;
font-size: 14px;
font-weight: bold;
border: 1px solid #666666;
width: 100%;
color: #FFFFFF;
background-color: #ff7100;
text-align: center;
cursor: pointer;
}
.musterbutton {
padding: 5px 5px 5px 5px;
margin: 3px 0px;
font-size: 11px;
font-weight: normal;
border: 1px solid #284156;
width: 100%;
color: #284156;
background-color: transparent;
text-align: center;
cursor: pointer;
}
.platecount {
padding: 5px 5px 5px 5px;
margin: 3px 10px 3px 0px;
font-size: 14px;
border: 1px solid #666666;
min-width: 40px;
max-width: 50px;
text-align: center;
float: left;
cursor: pointer;
}
.plateactive {
color: #FFFFFF;
background-color: #ff7100;
}
.verticalImage3 {
text-align: center;
max-width: 33.3%;
display: inline-block;
white-space: nowrap;
}
.verticalImage2 {
text-align: center;
max-width: 49.5%;
display: inline-block;
white-space: nowrap;
}
.verticalImage1 {
text-align: center;
max-width: 99%;
display: inline-block;
white-space: nowrap;
}
.myPlate3 {
}
.makerRadio {
float: left;
margin-top: 6px;
}
.makerLabel {
white-space: nowrap;
clear: both;
}
.pricebox {
border: 1px solid black;
background-color: #FFFFFF;
} .modal {
display: none; position: fixed; z-index: 9999; left: 0;
top: 0;
width: 100%; height: 100vh;
max-height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); } .modal-content {
max-width: 820px;
background-color: #fefefe;
margin: 32px auto; padding: 20px;
border: 1px solid #888;
width: 96%; z-index: 9999; } .close {
color: #aaa;
float: right;
margin-top: -12px;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.paslidecontainer {
width: 100%; text-align: center;
}
.paslider {
-webkit-appearance: none;
width: 80%;
height: 20px;
border-radius: 3px;
background: #d3d3d3;
outline: none;
opacity: 0.8;
}
.paslider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #284156;
cursor: pointer;
}
.paslider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #284156;
cursor: pointer;
}